CAN000_DELTA/src/main/resources/wsdl/FOCostCenterEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="FOCostCenter"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="FOCostCenter"><xs:complexType><xs:sequence><xs:element nillable="false" maxOccurs="unbounded" name="status"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="255"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="name"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="90"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="false" maxOccurs="unbounded" name="externalCode"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="endDate" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="description"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>